[user]
	name = BitWise-0x
	email = 1523839+BitWise-0x@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	postBuffer = 157286400
[core]
	excludesfile = ~/.gitignore_global
